body {
    background-color: #e6e6e6 !important;
    color: #4b4b4b !important;
}

#blueBarNAXAnchor {
    background-color: #4f6aa3;
    background-image: none;
}
#blueBarNAXAnchor ._3zm- a {
    color: #f2f2f2 !important;
}

html #mainContainer > #contentCol {
    background-color: #D0D0D0;
    padding: 0;
}
html #mainContainer > #contentCol #rightCol {
    width: 29%;
    padding: 1%;
    padding-left: 0;
    margin: 0;
}
html #mainContainer > #contentCol #rightCol > div > div, html #mainContainer > #contentCol #rightCol .cardRightCol {
    width: auto;
}
html #mainContainer > #contentCol #contentArea {
    width: 68%;
    padding: 1%;
    margin: 0;
}
#leftCol {
    background-color: #ddd !important;
}
#contentCol a {
    color: #4f6aa3 !important;
}
.chrome #globalContainer {
    width: auto !important;
    margin: 0;
    margin-left: 10%;
}